
footer p {
	color: white;
	font-size: 20px;
}

a:hover {
	/* color: #Fe4365; */
	color: #edb330;
}


h1 {
	/* color: #FC9D9A; */ 
	color: #CA7794;
	font-size: 48px; 
	display: block;
	position: relative;
	margin: -17px;
}

h3 {
	color: #5EACC0;
	font-size: 22px;
	text-align: center;
}


a {
	font-size: 18px;
	text-decoration: none;
	/* color: #f9cdad; */
	color: #CA7794;
}

p, li {
	color: #545454;
	font-size: 14px;
}


#quote {
	/* color: #f9cdad; */
	color: #edb330;
	font-style: italic;
	font-size: 18px;
} 

#footerhead {
	color: #5EACC0;
	font-size: 24px;
}

.personal {
	padding: 1px 15px 1px 15px;
	margin: 10px 5px 10px 15px;
	border-radius: 3%;
	display: inline-block;
	width: 45%;
	float: left;
	border-bottom: solid 3px #edb330;

}

.experience {
	padding: 1px 15px 1px 15px;
	margin-right: 40px;
	border-radius: 1%;
	display: inline-block;
	width: 50%;
	float: right;
	border-bottom: solid 3px #edb330;
}


.job {
	color: #CA7794;
}


.description {
	font-size: 14px;
}


.skills {
	padding: 1px 15px 1px 15px;
	margin: 10px 5px 10px 15px;
	border-radius: 3%;
	width: 45%;
	display: inline-block;
	clear: both;
	border-bottom: solid 3px #edb330;
}



.education {
	padding: 1px 15px 1px 15px;
	margin: 10px 5px 10px 15px;
	border-radius: 3%;
	display: inline-block;
	width: 45%;
	float: left;
	border-bottom: solid 3px #edb330;
}

.goals {
	padding: 1px 15px 1px 15px;
	margin-right: 40px;
	margin-bottom: 50px;
	border-radius: 3%;
	display: inline-block;
	width: 50%;
	float: right;
	border-bottom: solid 3px #edb330;
}


header { 
	text-align: center;
}


footer {
	width: 100%;
	margin-top: 10px;
	background-color: #686868  ;
	clear: both;
	text-align: center;
	padding : 3px;

}

body {
	background-color: #f1f1f1;
}



* {
	font-family: helvetica;
       -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

